@font-face {
  font-family: "Kaffeesatz";
  src: url("../fonts/YanoneKaffeesatz-Regular.ttf");
}
.start-game a:hover {
  color: transparent;
  text-decoration: none;
}
.start-game a h1 {
  font-size: 85px;
  color: red;
  font-family: 'Bangers', cursive;
}
