.game-wrapper .game-stages {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.game-wrapper .game-stages:before {
  content: "";
  display: block;
  padding-top: 75%;
}
.game-wrapper .game-stages img {
  width: 100%;
  min-height: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
}
.game-wrapper .game-splash {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.game-wrapper .game-splash:before {
  content: "";
  display: block;
  padding-top: 75%;
}
.game-wrapper .game-splash img {
  width: 100%;
  min-height: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
}
