.game-wrapper .game-stages {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.game-wrapper .game-stages:before {
  content: "";
  display: block;
  padding-top: 75%;
}
.game-wrapper .game-stages img {
  z-index: -1;
  width: 100%;
  min-height: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
}
.game-wrapper .game-splash {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.game-wrapper .game-splash:before {
  content: "";
  display: block;
  padding-top: 75%;
}
.game-wrapper .game-splash ul li {
  width: 5%;
  height: auto;
  background: white;
  border-radius: 25px;
  list-style-type: none;
  float: left;
  margin-right: 5px;
}
.game-wrapper .game-splash img {
  z-index: -1;
  width: 100%;
  min-height: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
}
.game-wrapper .game-splash .game-stage-1 {
  z-index: 1;
}
